@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue',sans-serif;
}
.wrapper{
    height: 100vh;
}
.top-bar{
    width: 80%;
    height: 50px;
    margin: 20px auto;
}
.logo{
    float: left;
    position: absolute;
    top: -30px;
    left: -30px;
}
.logo img{
    padding: 30px;
    width: 250px;
    height: 100px;
}
.menu-bar{
    width: 60%;
    float: left;
    text-align: center;
}
.menu-bar ul li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: #000;
    margin: 15px 20px;
    padding-top: 5px;
    transition: 0.3s linear;
}
.active , .menu-bar ul li:hover{
    border-bottom: 2px solid #01dff3;
}
.search-box{
    width: 20%;
    float: right;
}
.input-search{
    margin: 11px auto;
    display: inline-flex;
    border-bottom: 1px solid #04ccfe;
}
.input-search input{
    float: right;
    padding: 5px;
    box-shadow: none;
    outline: none;
    border: 0;
    background: transparent;
}
.hero{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    position: relative;
}
.hero-text{
    width: 50%;
    height: 100%;
    float: left;
}
.hero-text h1{
    margin: 100px 0 50px 70px;
    line-height: 40px;
}
.hero-text h1::after{
    content: '';
    width: 130px;
    height: 2px;
    background:rgb(2, 218, 251);
    top: 175px;
    left: 420px;
    position: absolute;
}
.hero-text p{
    padding-left: 70px;
    line-height: 25px;
}
.hero-text span{
    display: table;
    margin: 50px 0;
}
.hero-text p::after{
    content: '';
    width: 110px;
    height: 2px;
    background: #02e1fa;
    top: 300px;
    left: 450px;
    position: absolute;
}
.hero-banner{
    width: 49%;
    height: 100%;
    float: right;
    text-align: center;
}
.hero-banner img{
    width: 100%;
    margin: 110px auto;
}
.wrapper small{
    margin-left: 210px;
}
.wrapper small b{
    margin-right: 50px;
}
.shopping-box{
    width: 150px;
    height: 200px;
    right: 0;
    top: -80px;
    position: absolute;
    background-image: linear-gradient(#2c97e4,rgb(8, 244, 228));
    border-radius: 0 0 60px 240px;
}
.shopping-box ul{

    display: block;
    color: #fff;
    margin-top: 120px;
    margin-left: 67px;
}
.shopping-box ul li{
    list-style: none;
    margin-top: 30px;
}
.shopping-box ul li .fa{
    font-size: 28px;
    cursor: pointer;
    z-index: 1;
}
.social-icons{
    width: 200px;
    height: 390px;
    left: -90px;
    top: 150px;
    position: absolute;
    border-top-right-radius: 275px 309px;
    border-bottom-right-radius: 328px 627px;
    border-bottom-left-radius: 108px 345px;
    background-image: linear-gradient(#2c97e4,rgb(2, 254, 229));
}
.social-icons ul{
    display: block;
    color: #fff;
    margin-top: 80px;
    margin-left: 125px;
}
.social-icons ul li{
        list-style: none;
        margin-top: 35px;
}
.social-icons ul li .fa{
        font-size: 28px;
        cursor: pointer;
        z-index: 1;

}